*{
  border: 2px solid red;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

.header-container{
  background-color : #1F2937;
}

.top-container{
display :flex;
justify-content: center;
background-color : #1F2937;
}

.top-text{
  color:white;
}

.top-title{
  font-size: 48px;
  font-weight: bolder;
}

.top-text{
  width: 500px;
  text-wrap: wrap;
  font-size: 18px;
}

.top-button{
  padding:12px;
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
}


.middle-title {
  text-align: center;
  color:#1F2937;
  font-size: 28px;
  margin: 12px;
}

.middle-text{
  background-color :lightgray;

}

.middle-photo{
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
}

.bottom{
  background-color :lightblue;
}

.footer{
  background-color :darkgray;
  text-align: center;
}

ul{
  list-style-type: none;
  color: white;
}

a{
  text-decoration-style: none;
  
}

.header{
  display:flex;
}

.header-text{
  display: flex;
  margin-left: auto;
}

.image01{
  width: 400px;
  height:300px;
}

.image02{
  width: 150px;
  height: 150px;
}

.logo{
  width: 50px;
  height:  50px;
}