*{
  border: 2px solid red;
}

.container{
  background-color : blue;
}

.top-container{
display :flex;
justify-content: center;
}

.middle{
  background-color :gray;

}

.middle-title {
  text-align: center;
}

.middle-text{
  background-color :lightgray;
  display: flex;
  justify-content: center;
}

.middle-photo{
  display: flex;
  justify-content: center;
}

.bottom{
  background-color :lightblue;
}

.footer{
  background-color :darkgray;
  text-align: center;
}

ul{
  list-style-type: none;
  color: white;
}

a{
  text-decoration-style: none;
  
}

.header{
  display:flex;
}

.header-text{
  display: flex;
  margin-left: auto;
}